body {
  font-family: 'Open Sans Condensed', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
  }

a {
    text-decoration: none;
    color: inherit;
}

  a:hover,
  a:focus {
    text-decoration: none;
    cursor:pointer; 
    outline: none;
    color: inherit;
  }
  .logocircle{
    border-radius: 50%;
    border: 0;
    }
    .input_text {
    width: 50%;
    font-size: 15px;
    line-height: 1.4;
    padding-left: 8px;
    padding-right: 8px;
    min-height: 32px;
    margin-bottom: 8px;
    border: 1px solid #e2e2e2;
    box-shadow: 0 0 5px #888;
    border-radius: 4px;
    }

    .form-inline input[type=text] {
      padding: 6px;
      font-size: 17px;
      border: 1px solid grey;
      float: left;
      width: 80%;
      background: #f1f1f1;
    }

    .form-inline button {
      float: left;
      width: 20%;
      padding: 6px;
      background: #2196F3;
      color: white;
      font-size: 17px;
      border: 1px solid grey;
      border-left: none;
      cursor: pointer;
    }

    .form-inline button:hover {
      background: #0b7dda;
    }

    .form-inline::after {
      content: "";
      clear: both;
      display: table;
    }

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.pagination {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
}

.pagination a {
  color: grey;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: .3s;
}

.pagination a.active {
  background-color: gray;
  color: white;

}

.pagination a:hover:not(.active) {
  background-color: gray;
  color: white;
}

.questionDiv {
  cursor: pointer;
  
  text-align: left;
  font-size: 25px;
  color: gray;
  }
  .active, .questionDiv:hover {

  color: black;
  }